Ceci est un integration home assistant pour gardena.
Il faut penser a mettre a jour les fichiers relatifs à l'integration.
Tout le code et les doit etre en ANGLAIS.
Il faut supporter les langues deja disposnibles dans les translations.
il est impératif de resepecter les bonnes pratiques des composants home-assistant.