Ceci est un integration home assistant pour gardena.
Il faut penser a mettre a jour les fichiers relatifs à l'integration.
Tout el code doit etre en ANGLAIS.
Il faut supporter les langues deja disposnibles dans les translations.